@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;700&family=Space+Mono:wght@400;700&display=swap');

*{
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
}

.main{
	padding: 20px 0;	
}

.container{
	max-width: 80%;
	margin: auto;
}

.logo{
	font-family: Inconsolata;
	font-size: 22px;
	font-weight: 600;
	color: #333;
	letter-spacing: -1.5px;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 90vh;
}

.left,
.right{
	width: 45%;	
}

img{
	width: 100%;
}

h2{
	font-size: 50px;
	font-weight: 700;
	line-height: 1.4em;
	color: #333333;
}

p{
	font-size: 20px;
	font-weight: 400;
	color: #4F4F4F;
	letter-spacing: -0.84px;
	margin: 25px 0 35px 0;
}

button{
	color: #fff;
	background: #333333;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: -0.5px;
	padding: 15px 30px;
}


/* Responsive */


@media screen and (max-width: 1000px) {
	.container{
		max-width: 90%;
	}
}

@media screen and (max-width: 800px) {
	.banner{
		flex-direction: column;
	}
	.left,
	.right{
		width: 100%;	
	}
	.left{
		padding: 70px 0;
	}
}

@media screen and (max-width: 576px) {
	.left{
		padding: 45px 0;
	}
	h2{
		font-size: 40px;
	}
	p{
		font-size: 16px;
	}
}